# Google Cloud
GCP_PROJECT_ID=
GCP_REGION=us-central1

# Gmail service accounts (Domain-Wide Delegation)
GOOGLE_SERVICE_ACCOUNT_FILE_JOBEE=app/services/googleCloud/service-account-jobee.json
GOOGLE_SERVICE_ACCOUNT_FILE_BWT=app/services/googleCloud/service-account-bwt.json
GOOGLE_WORKSPACE_IMPERSONATED_USER_JOBEE=noreply@jobeeexpress.com
GOOGLE_WORKSPACE_IMPERSONATED_USER_BWT=noreply@bwheelstransport.com

# SAFER
SAFER_BASE_URL=https://safer.fmcsa.dot.gov
SAFER_COOKIE=

# TAFS
TAFS_PORTAL_URL=https://safer.fmcsa.dot.gov
TAFS_PORTAL_USERNAME=
TAFS_PORTAL_PASSWORD=

# ELD
ELD_BASE_URL=
